<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CROC Cisco</title>
</head>
<body>
    {% if formInput %}
    <form action="" method="post">
        {{ formInput.hidden_tag() }}
        <p>
            {{ formInput.post.label }}<br>
            {{ formInput.post(cols=32, rows=4) }}<br>
            {% for error in formInput.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ formInput.serv_lev.label }}
            {{ formInput.serv_lev }}
        </p>
        <p>{{ formInput.submit() }}</p>
    </form>
    {% endif %}
<hr>
    {% if formFile %}
    <form action="" method="POST" enctype="multipart/form-data">
        <p>
            {{ formFile.hidden_tag() }}
            {{ formFile.file }}
        </p>
        <p>
            {{ formFile.levels.label }}
            {{ formFile.levels }}
        </p>
        <p>{{ formFile.submit() }}</p>
        </p>
    </form>
    {% endif %}


<!--    <form action="/" method="POST" enctype="multipart/form-data">-->
<!--        <input type="file" name="myfile">-->
<!--        <button type="submit">Загрузить</button>-->
<!--    </form>-->


    {% if table_answer %}
        <table align="center" width="100%" border="1" style="color:red;">
            {% for line in table_answer %}
                <tr>
                    {% for data in line %}
                        <td>{{ data }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>

            </tr>
        </table>
    {% endif %}


    {% if args["method"] == "POST" %}
        {% if args["file_size_error"] %}
            <h1>Размер файла превышает 1мб. или друго формата!</h1>
        {% elif args["input_size_error"] %}
            <h1>Вы ввели больше 5 значений. Отправьте запрос в виде файла txt.</h1>
        {% else %}
            <h1>Данные успешно загружены.</h1>
        {% endif %}
    {% endif %}

</body>
</html>